<!DOCTYPE html>
<html lang="en">
  <%- include("header"); %>
  <body>
    <%- include("menu"); %>
    <!-- Jumbotron -->
    <div class="jumbotron text-center">
      <!-- Title -->
      <h4 class="card-title h4 pb-2"><strong>I'm hungry now</strong></h4>

      <!-- Card image -->
      <div class="view overlay my-4">
        <img
          src="https://mdbootstrap.com/img/Photos/Slides/img%20(134).jpg"
          class="img-fluid"
          alt=""
        />
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <h5 class="indigo-text h5 mb-4">I want (Mudan) "waichowl"</h5>

      <p class="card-text">
        짜파구리, 초코모찌롤, 김치고기만두, 김치전, 크림빵
      </p>

      <!-- Linkedin -->
      <a class="fa-lg p-2 m-2 li-ic"
        ><i class="fab fa-linkedin-in grey-text"></i
      ></a>
      <!-- Twitter -->
      <a class="fa-lg p-2 m-2 tw-ic"
        ><i class="fab fa-twitter grey-text"></i
      ></a>
      <!-- Dribbble -->
      <a class="fa-lg p-2 m-2 fb-ic" href="http://www.facebook.com/"
        ><i class="fab fa-facebook-f grey-text"></i
      ></a>
    </div>
    <%-include("footer");%>
  </body>
</html>
